[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
djangorestframework = "*"
coreapi = "*"
coreapi-cli = "*"


[dev-packages]

pygments = "*"
httpie = "*"
